body{
	background-color: #fded9d;
}
div {
	text-align: center;
	font-size: 20pt;
	padding-top: 2ex;
	font-family: helvetica;
}
.title {
	text-align: center;
	padding: 1px;
	box-sizing: border-box;
	background-color: black;
	color: #fded9d;
	font-size: 3em;
}
.userName {
padding: 30px;
}
.courseName {
padding: 30px;
}
.reportCard {
	border: 2px solid black;
}
.courseGrade {
	float: right;
}
.submitReport {
	text-transform: center;
}
